<footer>
	<div class="container">
		<div class="footer-content">
			<p>2025 © ManageRH. Tous droits réservés.</p>
			<div class="footer-links">
				<a href="#">Nous contacter</a>
				<a href="#">FAQ</a>
				<a href="#">Conditions Générales</a>
				<a href="#">Mentions légales</a>
				<a href="#">Politique de Confidentialité</a>
			</div>
		</div>
	</div>
</footer>
